/* Estilos para la lista de países */
.country-list {
    list-style-type: none;
    padding: 0;
  }
  
  .country-list li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .country-list li a {
    color: #4caf50;
    text-decoration: none;
  }
  
  .country-list li a:hover {
    text-decoration: underline;
  }
  
  button.delete-btn {
    background-color: #f44336;
  }
  
  button.delete-btn:hover {
    background-color: #c62828;
  }
  